<div class="ticket-list">
    <div class="clearfix">
        <h1 class="pull-left">Ticket List</h1>
        <a href="/#!/ticket/new">
            <button type="button"
                    class="btn btn-primary pull-left new-ticket-btn">
                Create new ticket
            </button>
        </a>
    </div>
    <div ng-repeat="(date, states) in ticketsOrdered">
        <div class="table-responsive">
            <div class="page-header">
                <h1><small>{{ date }}</small></h1>
            </div>

            <div ng-repeat="(state, tickets) in states">

                <h4><span class="label label-default">{{ state }}</span></h4>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>State</th>
                        <th>Reason</th>
                        <th>Created at</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ticket in tickets track by $index">
                        <td>{{ ticket.type | toUpperLowerCase }}</td>
                        <td>{{ ticket.state }}</td>
                        <td>{{ ticket.reason | toUpperLowerCase }}</td>
                        <td>{{ ticket.createdAt | date : 'short' }}</td>
                        <td>
                            <a href="/#!/ticket/{{ ticket.id }}">
                                <button type="button"
                                        class="btn btn-default btn-xs">
                                    Edit
                                </button>
                            </a>
                            <button type="button"
                                    class="btn btn-danger btn-xs"
                                    ng-click="deleteTicket(ticket.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <div class="well" ng-if="!hasTickets()">No Tickets Yet</div>
</div>